* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    padding: 20px 60px;
}

#nav-logo-holder a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
    margin-left: 1vw;

}

#nav-logo-holder img {
    vertical-align: middle;
}

#nav-logo-holder div {
    display: flex;
    align-items: center;
    text-align: center;
}

#nav-logo-holder {
    display: flex;
    align-content: center;
    justify-content: center;
}

#nav-links-holder ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-top: 5vh;
}

#nav-links-holder li {
    margin-right: 30px;

}


.slide img {
    width: 100vw;
}

#slide-1,
#slide-2 {
    display:none;
}



#brand-display{
    text-align: center;
    margin-bottom: 10vh;
}

#brand-display h2 {
    margin: 10vw;
    font-size: 40px;
}

#brand-display .holder {
    display: flex;
    justify-content: space-around;
}

#contact-us {
    display: flex;
    margin-top: 30vh;
    margin-bottom: 30vh;
    padding: 10vh 15vw;
    justify-content: space-between;
}

#contact-data {
    width: 50%;
    text-align: center;
}

#contact-data  h2{
    font-size: 60px;
    margin-bottom: 30px;
    
}

#contact-data a {
    text-decoration: none;
    color: #666;
}

#contact-data p {
    margin-bottom: 40px;
    font-size: 20px;
    color: #333;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 20px;
    width: 30vw;
    padding: 20px 4px;
    border-bottom: 1px solid #666;
}

textarea {
    margin-bottom: 20px;
    width: 30vw;
    padding: 20px 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #666;

}

.btn{
    background-color: #333;
    color: white;
    font-size: 15px;
}

#display{
    margin-left: 2vw;
    display:flex;
    justify-content:center;
    margin-bottom: 10vh;
}

#display-content {
    background-color:#f7f7f7;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 10vh;
    z-index: 1;
    
}

#display-content p{
    font-size: 20px;
    margin-bottom: 30px;
}

#display-content ul {
    margin-bottom: 50px;
}

#display-content button {
    padding: 15px 25px;
    background-color: #333;
    border: none;
    color: white;
}

#display img {
    transform: translateX(-4vw);
    z-index: 0;
}


footer {
    margin: 5vw;
    text-align: center;
}

footer div {
    margin-bottom: 40px;
}